* {
    box-sizing: border-box;
    text-align: center;
  }
 @media only screen and (max-width: 768px) {
    [class*="col-"] {
      width: 100%;
    }
}
@media only screen and (orientation: landscape) {
    body {
      background-color: rgb(66, 50, 66);
    }
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    background-color:#240424;
    color: #fcf6f6;
    padding: 15px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  nav a{      
    border:solid 3px #F3E6F3;
    background-color:  #9e739e;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all 500ms;
    text-align: center;
}
a:hover{
   padding: 8px;
   background-color:#240424;
   color:white;
   border-radius: 10px;
}