@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    border: 0;
}

[class*="col-"]{
    box-sizing: border-box;
    float:right;

}

.row::after{
    content: "";
    clear:both;
    display: table;
}


[class*="col-"]{
    width:100%;
}



.block{
    border:3px solid green;
    height: 300px;
    width:200px;
}
img.thclas{
    padding-top: 20px;
}





@media (min-width:600px){
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}    
}

@media (min-width:768px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media (min-width:992px){
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

@media (min-width:1200px){
    .col-xlg-1 {width: 8.33%;}
    .col-xlg-2 {width: 16.66%;}
    .col-xlg-3 {width: 25%;}
    .col-xlg-4 {width: 33.33%;}
    .col-xlg-5 {width: 41.66%;}
    .col-xlg-6 {width: 50%;}
    .col-xlg-7 {width: 58.33%;}
    .col-xlg-8 {width: 66.66%;}
    .col-xlg-9 {width: 75%;}
    .col-xlg-10 {width: 83.33%;}
    .col-xlg-11 {width: 91.66%;}
    .col-xlg-12 {width: 100%;}
}


.he{ 
    height: 100vh;
    max-height: 100vh;
    position: relative;
   
    
    background-image: url('2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: 50px;
     
}
.second-lyer{
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .6;
}

ul{
    list-style-type: none;
    margin-top:10px;
    margin-bottom: 10px;
    position: absolute;
    z-index: 1;
}

li{
    display : inline;
    
    padding: 10px;

    
}
li a{ 
    color:#fff;
        border:solid 1px #F3E6F3;
    background-color:  black;
    border-radius: 3px;
    padding: 2px;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all 500ms;
}
a:hover{
   padding: 5px;
   background-color:whitesmoke;
   color:black;
   border-radius: 10px;
}
.social ul{
    margin-top: 70vh;
    position: fixed;

}
.social img{
    background-color: white;
    border-radius: 50%;

}
.social li{
    display :block;
        padding: 2px;
    margin: 2px;
}
a.social:hover{
    display: block;        border-radius: 50%;
        color:black;
}
.head-text{
    
  position: absolute;
    color: #fff;

    font-size:15px;
    top:45vh;
    
}
h1,h3{
    text-align: center;
}
.firstcla{
     height: 100vh;
    max-height: 100vh;
        position: relative;

}
.f:hover,
.f:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: #1d1b38;
}
.seclas{
     height: 45vh;
    max-height: 50vh;
        position: relative;
    background-color: white;
opacity: 90%;}
.seclas1{
    height: 10vh;
   max-height: 20vh;
       position: relative;
   background-color: white;

}
.para1{
    text-align: center;
    color: black;
    background-color:white;
    padding: 30px 45px 15px 45px;
    margin: 10% 25% 10% 10%;
}
.para:hover,
.para:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  opacity: 80%;
}

.para{
    text-align: center;
    color: black;
    background-color:whitesmoke;
    padding: 30px 45px 30px 45px;
    margin: -15% 25% -10% 10%;
    border-radius: 5px;
    box-shadow: #555 inset;
}
.thclas{
     height: 100vh;
    max-height: 100vh;
    background-color: white;
    display: inline-block;
margin-top: -1px;

}

.pic{
     background-color:#336d88;
    background-image: url('html.png');
    width: 25vw;
    height: 30vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
        margin-bottom: -10px;
            margin-left: -10px;
            margin-right: -10px;

            



}
.pic1{
     background-color:#1d1b38;
        background-image: url('paper.png');
    width: 25vw;
    height: 30vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: -10px;
    margin-left: -10px;


}
.pic2{
     background-color:#336d88;
        background-image: url('javascript.png');
        background-repeat: no-repeat;
    background-position: center center;
    width: 25vw;
    height: 25vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
        margin-left: -10px;
        margin-bottom: -10px;
        margin-right: 5px;


}.pic3{
     background-color:#1d1b38;
            background-image: url('php.png');
        background-repeat: no-repeat;
    background-position: center center;
    width: 25vw;
    height: 25vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
        margin-left: -01px;
        margin-bottom: -10px;


}.pic4{
     background-color: #1d1b38;
                background-image: url('android.png');
        background-repeat: no-repeat;
    background-position: center center;
    width: 25vw;
    height: 25vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
        margin-left: -10px;
            margin-bottom: -10px;
            margin-right: -10px;



}.pic5{
     background-color:#336d88;
                background-image: url('sql.png');
            background-repeat: no-repeat;
        background-position: center center;
    width:25vw;
    height: 25vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
        margin-left: -10px;
            margin-bottom: -10px;


}.pic6{
     background-color:#1d1b38;
                    background-image: url('c-sharp.png');
        background-repeat: no-repeat;
    background-position: center center;
    width: 25vw;
    height: 25vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
        margin-left: -10px;
        margin-bottom: -10px;

}.pic7{
     background-color: #336d88;
                    background-image: url('app.png');
        background-repeat: no-repeat;
    background-position: center center;
    width: 25vw;
    height: 25vh;
    text-align: center;
    line-height: 250px;
    display: inline-block;
            margin-left: -10px;
            margin-bottom: -10px;

}
button{
    color: white;
    background-color:  #330000;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}
.ti{
margin-top:-10px;color: black;
            margin-left: -35px;
    margin-right: 10.5px;
           width: 53.7vh;


}
.pt{
       width: 55vh;
    height: 15vh;
    text-align: center;
    line-height: 100px;
    display: inline-block;
            margin-left: -36px; 
}
.pc{
    display: inline-block;
}
.forming {
  border-radius: 5px;
  background-color: #f2f2f2;
padding: 29px;
    text-align: left;
    width: 90vw;
}
input[type=text], textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
    margin-right: -9px;
    text-align: left;

}

label {
  padding-top: 15px;
  display: inline-block;
 font-family: 'Fondamento', cursive;

}

input[type=submit] {
  background-color: #0099ff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
    margin-top: 8px;
 font-family: 'Fondamento', cursive;
width: 150px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
.forming h1{
font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 10px;
    color: black;
}
.forming p{
    text-align: left;
    padding-top: 10px;
    color: black;
    font-family: 'Fondamento', cursive;

}
.flip-card {
    background-color: transparent;
    width: 25vw;
    height: 25vh;
    perspective: 1000px;
display: inline-block;
margin-left: -10px;
margin-bottom: -10px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 25vw;
    height: 25vh;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  }
  
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    width: 25vw;
    height: 25vh;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 25vw;
    height: 25vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    width: 25vw;
    height: 25vh;    color: black;
  }
  
  .flip-card-back {
    width: 25vw;
    height: 25vh;
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }
